<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freelancers available</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
    <div class="container">
        <h1>Available Freelancers</h1>
        <div class="job-list">
            {% if freelancers %}
                {% for freelancer in freelancers %}
                    <div class="job-card">
                        <h2>{{ freelancer.firstName }} {{ freelancer.lastName }}</h2>
                        <p>{{ freelancer.email_address }}</p>
                        <p>{{ freelancer.phone_no }}</p>
                        <p><strong>Specialty:</strong> {{ freelancer.specialty }}</p>
                        <p><strong>Technologies(Proficiency):</strong> {{ freelancer.technologies }}</p>
                        <a href="{% url 'freelancer_details' %}" class="btn">Freelancer's Details</a> -->
                    </div>
                {% endfor %}
            {% else %}
                <p>No freelancers available at the moment.</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
