<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/images/data1.svg" />
    <title>DataCraft - Lounge</title>
    <link rel="stylesheet" href="../static/css/intermediate.css"/>
</head>
<body>
    <div class="container">
        <h1>Which side are you on?</h1>
        <div class="divide">
            <a class="btn btn-freelance" href="/freelance/sign-up">
                <span class="btn-icon">💼</span>
                Freelance
            </a>
            <a class="btn btn-hiring" href="/hiring/sign-up">
                <span class="btn-icon">🔍</span>
                Hiring
            </a>
        </div>
    </div>
</body>
</html>