<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hirer - My Jobs</title>
    <link rel="stylesheet" href="../static/css/h_home.css">
</head>
<body>
    <div class="container">
        <h1>My Jobs</h1>
        <div class="job-list">
            {% if jobs %}
                {% for job in jobs %}
                    <div class="job-card">
                        <h2>{{ job.title }}</h2>
                        <p>{{ job.description }}</p>
                        <p><strong>Budget:</strong> ${{ job.pay }}</p>
                        <p><strong>Posted on:</strong> {{ job.posted_on }}</p>
                        <a href="{% url 'freelancers' %}" class="btn">Available freelancers</a>
                    </div>
                {% endfor %}
            {% else %}
                <p>You do not have any jobs at the moment.</p>
            {% endif %}
        </div>
        <a href="/hiring/create_job" class="btn">Create new job</a>
    </div>
</body>
</html>
